---
import Main from '../layouts/Main.astro';

import CryptoLibs from '../components/CryptoLibs.astro';
---

<Main shortTitle="Build" title="Build your locker!">
    <CryptoLibs />

    <form id="build-form" style="margin-bottom: 2em;">
        <h2>Locker Metadata</h2>

        <p>Title</p>
        <input type="text" placeholder="Enter the locker title (optional)" />

        <p>Author</p>
        <input type="text" placeholder="Enter your author (optional)" />

        <p>Description</p>
        <br />
        <textarea></textarea>

        <hr />

        <h2>Locker Content</h2>
        <textarea></textarea>

        <hr />

        <h2>Locker Security</h2>

        <p>Passpharse</p>
        <input type="password" placeholder="Enter your locker passpharse" />

        <p>Passpharse Hint</p>
        <input type="text" placeholder="Enter your passpharse hint (optional)" />
    </form>

    <h2>Locker Prototype</h2>

    <p>Encrypted Content</p>
    <div id="encrypted-content-preivew"></div>

    <p>Non-Encoded Locker</p>
    <div id="non-encoded-locker-preview"></div>

    <p>Encoded Locker</p>
    <div id="encoded-locker-preview"></div>

    <p>SHA-512 Checksum</p>
    <div id="checksum-preview"></div>

</Main>
