---
import Main from '../layouts/Main.astro';

import CryptoLibs from '../components/CryptoLibs.astro';
---

<Main shortTitle="Build" title="Build your locker!">
    <CryptoLibs />

    <form id="build-form" style="margin-bottom: 2em;">
        <h2>Locker Metadata</h2>

        <p>Title</p>
        <input id="title" type="text" placeholder="Enter the locker title (optional)" />

        <p>Author</p>
        <input id="author" type="text" placeholder="Enter your author (optional)" />

        <p>Description</p>
        <br />
        <textarea id="description"></textarea>

        <hr />

        <h2>Locker Content</h2>
        <textarea id="content" required></textarea>

        <hr />

        <h2>Locker Security</h2>

        <p>Passpharse</p>
        <input id="passphrase" type="password" placeholder="Enter your locker passpharse" required />

        <p>Passpharse Hint</p>
        <input id="passphrase-hint" type="text" placeholder="Enter your passpharse hint (optional)" />

        <br />
        <br />
        <button type="submit">Build!</button>
    </form>

    <h2>Locker Prototype</h2>

    <h4>Encrypted Content</h4>
    <div id="encrypted-content-preview"></div>

    <h4>Non-Encoded Locker</h4>
    <div id="non-encoded-locker-preview"></div>

    <h4>Encoded Locker</h4>
    <div id="encoded-locker-preview"></div>

    <h4>SHA-512 Checksum</h4>
    <div id="checksum-preview"></div>

</Main>
