---
import Main from '../layouts/Main.astro';

import CryptoLibs from '../components/CryptoLibs.astro';
---

<Main shortTitle="Build" title="Build your locker!">
    <CryptoLibs />

    <script type="module">
        import { bytesToBase64, base64encode } from '/js/lib/base64.js';
        import { bufferToHex } from '/js/utils.js';
        import { hashPassphrase, generateSalt, generateKey, encrypt, encode, checksum } from '/js/build.js';

        async function onBuild(metadata, content, passphrase, hint) {
            // Generate locker key
            const hash = await hashPassphrase(passphrase);
            const salt = generateSalt();
            const lockerKey = await generateKey(hash, salt);
            const encryptedData = encrypt(lockerKey, content);
            const encodedData = encode(encryptedData);
            document.getElementById("encrypted-content-preview").innerText = encodedData;

            var locker = {
                version: 'v1',
                metadata,
                security: {
                    salt: bytesToBase64(salt),
                    hint: base64encode(hint),
                    verify: encode(encrypt(lockerKey, "verified"))
                },
                content: encodedData
            };

            const nonEncodedLocker = JSON.stringify(locker);
            const encodedLocker = base64encode(nonEncodedLocker);
            const lockerChecksum = await checksum(encodedLocker);
            document.getElementById("non-encoded-locker-preview").innerText = nonEncodedLocker;
            document.getElementById("encoded-locker-preview").innerText = encodedLocker;
            document.getElementById("checksum-preview").innerText = bufferToHex(lockerChecksum);
        }

        document.getElementById("build-form").onsubmit = (e) => {
            e.preventDefault();

            // Metadata
            const title = document.getElementById("title").value;
            const author = document.getElementById("author").value;
            const description = document.getElementById("description").value;

            // Content
            const content = document.getElementById("content").value;

            // Security
            const passphrase = document.getElementById("passphrase").value;
            const passphraseHint = document.getElementById("passphrase-hint").value;

            onBuild({title, author, description, date: new Date().toString()}, content, passphrase, passphraseHint);
        };
    </script>

    <style lang="scss">
        input {
            min-width: 30em;
        }

        #title, #author, #passphrase, #passphrase-hint {
            text-align: center;
        }

        textarea {
            min-width: 50em;
            min-height: 20em;
            margin-bottom: 2em;
        }

        button {
            padding: 5px 35px;
            font-family: sans-serial;
        }

        div.preview {
            border: 2px solid black;
            min-width: 5em;
            min-height: 15em;
            padding: 2em 2em;
            margin: 5em 5em;
            word-wrap: anywhere;
            text-align: left;
        }
    </style>

    <form id="build-form" style="margin-bottom: 2em;">
        <center>
            <h2>Locker Metadata</h2>

            <p>Title</p>
            <input id="title" type="text" placeholder="Enter the locker title (optional)" />

            <p>Author</p>
            <input id="author" type="text" placeholder="Enter your author (optional)" />

            <p>Description</p>
            <textarea id="description"></textarea>

        </center>

        <hr />

        <center>
            <h2>Locker Content</h2>
            <textarea id="content" required></textarea>
        </center>

        <hr />

        <center>
            <h2>Locker Security</h2>

            <p>Passpharse</p>
            <input id="passphrase" type="password" placeholder="Enter your locker passpharse" required />

            <p>Passpharse Hint</p>
            <input id="passphrase-hint" type="text" placeholder="Enter your passpharse hint (optional)" />

            <br />
            <br />
            <button type="submit">Build!</button>
        </center>
    </form>

    <center>
        <h2>Locker Prototype</h2>

        <h4>Encrypted Content</h4>
        <div id="encrypted-content-preview" class="preview"></div>

        <h4>Non-Encoded Locker</h4>
        <div id="non-encoded-locker-preview" class="preview"></div>

        <h4>Encoded Locker</h4>
        <div id="encoded-locker-preview" class="preview"></div>

        <h4>SHA-512 Checksum</h4>
        <div id="checksum-preview" class="preview"></div>
    </center>

</Main>
