---
import Main from '../layouts/Main.astro';
---

<Main>
    <h1>Build your own locker?</h1>
    <p>You can build your own using our generator by clicking <a href="/builder">here</a>.</p>

    <hr />

    <h1>View a locker</h1>
    <p>You can view any locker following the protocol by clicking <a href="/viewer">here</a></p>

    <hr />

    <h1>Verify a locker</h1>
    <p>You can verify any locker with a given SHA-512 checksum in Hex format <a href="/verifier">here</a></p>
</Main>

