---
import Main from '../layouts/Main.astro';
---

<Main>
    <h1>Create your locker</h1>
    <p>Coming soon...</p>
    <hr />
    <h1>Prove your locker on blockchain</h1>
    <p>Coming soon...</p>
</Main>

