---
export interface Props {
    title?: string;
    shortTitle?: string;
}
let {title = undefined, shortTitle = undefined} = Astro.props;

if (title !== undefined)
    title = " - " + title;

if (shortTitle !== undefined)
    shortTitle = " - " + shortTitle;
---

<html>
    <head>
        <title>Immutable Lockers{shortTitle}</title>
    </head>
    <body>
        <center>
            <h1>Immutable Lockers{title}</h1>
            <div style="margin-bottom: 3em;">
                <h3>WARNING: This project is under heavy development!</h3>
            </div>
        </center>

        <slot />

    </body>
</html>