---
export interface Props {
    title?: string;
}
let {title = undefined} = Astro.props;

if (title !== undefined)
    title = " - " + title;
---

<html>
    <head>
        <title>Immutable Lockers</title>
    </head>
    <body>
        <center>
            <h1>Immutable Lockers{title}</h1>
            <div>
                <h3>WARNING: This project is under heavy development!</h3>
            </div>
        </center>

        <slot />

    </body>
</html>